#themee{
    cursor: pointer;
    color: #dfdfdf;
}
.hover-eff :hover{
    border-bottom: 1px solid #dfdfdf;
}
.modal-header, .modal-body{
    color: #131517;
}
#brand-head {
    position: relative;
    top: 7px;
    font-size: 25px;
    margin: auto 20px;
}
#logo-head {
    height: 60px;
    margin-top: -10px;
}
#togglePassword{
    position: relative;
    top: -35px;
    right: 25px;
}
.contains{
    width: 50%;
    margin: 1% auto;
    padding: 20px 80px;
}
.formFile{
    width: 50px !important;;
}
.recent{
    margin: 1%;
}
footer{
    margin-top: 3%;
}
@media screen and (max-width:1040px){
    .contains{
        width:60%;
    }
    footer h4, h5{
        font-size: 18px !important;
    }
}
@media screen and (max-width:675px){
    .contains{
        width:70%;
    }
    footer h4, h5{
        font-size: 15px !important;
    }
}
@media only screen and (max-width: 744px) {
    .cards {
        width: 100% !important;
        text-align: center;
        margin: 1% 20%;
    }
    
    #aboutme {
        margin: 0 auto;
        position: static;
    }
    
    .msg {
        width: 98% !important;
    }

    #login {
        position: inherit;
        width: 90% !important;
        text-align: center;
        margin: 10% 6% !important;
    }

    #test {
        margin: 2% 12% !important;
        width: 80% !important;
    }
}
/* Dark Theme */
/* @media (prefers-color-scheme: dark){
    body{
        background-color: #000000;
    /* color: #e8e6e3; */
/* }
.card, .d-flex input{
    background-color: #000000;
    border-color: #313537;
}
.d-flex input:focus{
    background-color: #000;
}
#form-box{
    background-color: #313537;
}
} */